/* font-family: 'Manrope', sans-serif;
  */

.body,html {
    min-width: 1400px;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
    background: #FFFFFF;
}

.header {
    width: 1400px;
    margin: 0 auto;
}

.nav-header {
    width: 1151px;
    height: 25px;
    margin-top: 32px;
    margin-bottom: 70px;
    margin-left: 125px;
    display: inline-block;
}

.nav-header__logo {
    width: 127px;
    height: 22px;
    background-image: cover;
}

.item {
    width: 86px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #121212;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;  
    letter-spacing: -0.03em;
}


.item-aboutus {
    margin-left: 555px;
}

.item-projects {
    margin-left: 58px;
}

.item-services {
    margin-left: 57px;
}

.item-contacts {
    margin-left: 57px;
}

.item:hover {
    border-bottom: solid 1px;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* presentation */

.presentation {
    width: 1400px;
    margin: 0 auto;
}

.presentation__container {
    width: 1150px;
    height: 650px;
    position: relative;
    margin-left: 125px ;
    margin-bottom: 150px;
}

.presentation__title {
    width: 956px;
    height: 120px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.presentation__image {
    width: 1150px;
    height: 500px;
    background-image: url('../resourses/group_11/Rectangle 1.jpg');
}

.presentation__text {
    width: 430px;
    height: 81px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

/* about-us */

.aboutus {
    width: 1400px;
    margin: 0 auto;
}

.aboutus-container {
    width: 1051px;
    height: 518px;
    margin-left: 125px;
    margin-bottom: 150px;
}

.aboutus__title {
    width: 51px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.aboutus__text {
    width: 1048px;
    height: 366px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;

}

.aboutus__btn {
    font-family: 'Manrope', sans-serif;
    width: 255px;
    height: 67px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 27.32px;
    background-color: #AD1818;
    border-radius: 5px;
    border: none;
    letter-spacing: -0.03em;
}

/* projects */

.projects {
    width: 1400px;
    margin: 0 auto;
}

.projects-container {
    width: 1150px;
    height: 2122px;
    margin-left: 125px;
    margin-bottom: 150px;
}

.projects__title {
    width: 79px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.projects__container {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
}

.projects-container img {
    width: 1150px;
    height: 450px;
}

.projects__description {
    width: 542px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    margin-top: 13px;
    margin-bottom: 15px;
}

.projects__details {
    width: 127px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-decoration: none;
    cursor: pointer;
    color: #AD1818;
}

.projects__btn {
    width: 100%;
    height: 153px;
    padding-top: 56px;
    cursor: pointer;
    color: #AD1818;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
    background-color: #FFFFFF;
    display: block;
    text-align: center;
    border: 1px solid #AD1818;  
    border-radius: 5px;
    letter-spacing: -0.03em;
    
}

.projects__btn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

/* services */

.services {
    width: 100%;
    height: 1844px;
    display: block;
    background-color: #121212;
    background-size: cover;
    padding-top: 151px;
}

.services-container {
    width: 1400px;
    margin: 0 auto;
}

.serviсes__title {
    width: 66px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    margin-left: 127px;
    margin-bottom: 34px;
    color: #fff;
}

.services__item-container {
    width: 1150px;
    height: 326px;
    margin-left: 125px;
    margin-bottom: 60px;
}

.services__item-container img{
    width: 1150px;
    height: 270px;
    margin-bottom: 14px;
}

.services__details {
    width: 661px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: 5px;
}

.services__item-container:nth-last-child(1) {
    margin-bottom: 150px;
}

/* sample-project */

.sample-project {
    width: 100%; 
    background-image: url(../resourses/group_15/Rectangle\ 10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 186px;
}

.sample-project__wrapper {
    width: 1400px;
    height: 717px;
    position: relative;
    margin: 0 auto;    
}

.sample-project__text {
    width: 443px;
    height: 82px;
    position: absolute;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    left: 125px;
    bottom: 60px;
    
}

/* contacts */

.contacts {
    width: 1400px;
    height: 253px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.contacts-container {
    width: 475px;
    height: 100%;
    margin-left: 124px;
    
}

.contacts__title:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(/resourses/ic_outline-phone-iphone@2x.png);
    background-size: cover;
    margin-top: -36px;
    margin-left: -4px;
    margin-bottom: 13px;
}

.contacts__title {
    width: 90px;
    height: 24px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
    letter-spacing: -0.03em;
}

.contacts__number {
    width: 472px;
    height: 60px;
    display: block;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.018em;
    color: #121212;
    text-decoration: none;
    margin-top: 71px;
    margin-bottom: 40px;
}

.contacts__mail {
    width: 412px;
    height: 60px;
    display: block;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #121212;   
    letter-spacing: -0.03em; 
}

.contacts__mail:hover {
    opacity: 0.5;
    border-bottom: #121212 solid 1px;
}

/* footer */

.footer {
    width: 100%;
    padding-top: 61px;
    background-color: #121212;
}

.footer-container {
    width: 1400px;
    height: 229px;
    margin: 0 auto;
}

.menu__footer {
    width: 550px;
    height: 25px;
    margin-left: 470px;
}

.item-black {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.item-black:hover {
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-black-aboutus {
    margin-right: 51px;
}

.item-black-projects {
    margin-right: 53px;
}

.item-black-servises {
    margin-right: 52px;
}

.item-black-contacts {
    margin-right: 52px;
}



.footer__copyright {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    display: block;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
    margin-top: 87px;
}