/* font-family: 'Manrope', sans-serif;
  */

body {
    font-family: 'Manrope', sans-serif;
    Width: 1400px;
    Height: 7211px;
    background: #FFFFFF;
}

.group_10 {
    width: 1151.35px;
    height: 25.18px;
    margin-top: 32.82px;
    margin-left: 124.65px;
    margin-bottom: 70px;
}

.group_11 {
    width: 1150px;
    height: 650px;
    margin-left: 125px ;
    margin-bottom: 150px;
}

.group_11 h1{
    width: 956px;
    height: 120px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.image_group_11 {
    width: 1150px;
    height: 500px;
    background-image: url('../resourses/group_11/Rectangle 1.jpg');
}

.group_11 p {
    width: 430px;
    height: 81px;
    margin-left: 40px;
    padding-top: 379px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.group_12{
    width: 1051px;
    height: 518px;
    margin-left: 125px;
    margin-bottom: 150px;
}

h2 {
    width: 51px;
    height: 25px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.group_12 p {
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;

}

.btn_1 {
    width: 255px;
    height: 67px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 27.32px;
    background-color: #AD1818;
    border-radius: 5px;
}

.group_13 {
    width: 1150px;
    height: 2122px;
    margin-left: 125px;
}

.group_13 h2 {
    width: 79px;
    height: 25px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.group_6 {
width: 1150px;
height: 548px;
margin-bottom: 90px;
}

.group_6 img {
    width: 1150;
    height: 450px;
    margin-bottom: 15px;

}

.group_6 h3 {
    width: 501px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.group_6 p {
    width: 127px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.group_5 {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
    }

.group_5 img {
    width: 1150;
    height: 450px;
    margin-bottom: 15px;

}

.group_5 h3 {
    width: 520px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.group_5 p {
    width: 127px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.group_7 {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
    }

.group_7 img {
    width: 1150;
    height: 450px;
    margin-bottom: 15px;

}

.group_7 h3 {
    width: 542px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.group_7 p {
    width: 127px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.group_9 {
    width: 1150px;
    height: 153px;
    display: block;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color:#AD1818;
    border-radius: 5px;
    padding-top: 56px; 
}

.group_9 h3 a {
    width: 1150px;
    height: 41px; 
    text-decoration: none;
    color: #AD1818; 
    background-color: #FFFFFF;
    font-size: 30px;
    line-height: 41px;
}

.group_9 h3 a:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}